{% extends "layout.html" %} {% block main %}

<!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
<h1 class="mb-3">Form</h1>

<!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
<form action="/form" method="post">
  <!-- TODO -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    </div>
    <input
      type="text"
      class="form-control"
      id="name-input"
      name="Name"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="form-group col-md-4">
    <label for="inputState">Faction</label>
    <select id="inputState" class="form-control" name="Faction">
      <option>NCR</option>
      <option>Mr. House</option>
      <option>Yes Man</option>
      <option>Caesar's Legion</option>
    </select>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="Role"
      id="exampleRadios1"
      value="Juggernaut"
    />
    <label class="form-check-label" for="exampleRadios1">
      Juggernaut
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="Role"
      id="exampleRadios2"
      value="Sniper"
    />
    <label class="form-check-label" for="exampleRadios2">
      Sniper
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="Role"
      id="exampleRadios3"
      value="Melee"
    />
    <label class="form-check-label" for="exampleRadios3">
      Melee
    </label>
  </div>

  <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<script type="text/javascript">
  /* TODO */
  function empty()
        {
          var x;
          x = document.getElementById("name-input").value;
          if (x == "")
           {
              alert("Enter a Name");
           };
        }
    function empty1()
        {
          var x;
          x = document.getElementById("inputState").value;
          if (x == null)
           {
              alert("Select a faction");
           };
        }
</script>

{% endblock %}
